.wishlist small,
.removeSm small,
.remove,
.remove.disabled {
  color: #6c757d;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.wishlist:hover small,
.removeSm:hover small,
.remove:hover,
.wishlist.active small {
  color: var(--btn-main-color);
}

.wishlist.active:hover small {
  color: #af1221;
}

.remove.disabled {
  opacity: .8;
  pointer-events: none;
}

.btn-quantity-counter {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-light-text);
  --bs-btn-bg: var(--bs-tertiary-bg);
  --bs-btn-border-color: var(--bs-border-color);
  --bs-btn-hover-color: var(--btn-sec-color);
  --bs-btn-hover-bg: var(--bs-secondary-bg);
  --bs-btn-hover-border-color: var(--bs-border-color);
  --bs-btn-active-color: var(--btn-sec-color);
  --bs-btn-active-bg: var(--bs-secondary-bg);
  --bs-btn-active-border-color: var(--bs-border-color);
  --bs-btn-disabled-color: #a5aaaf;
  --bs-btn-disabled-bg: var(--bs-tertiary-bg);
  --bs-btn-disabled-border-color: var(--bs-border-color);
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 36, 41, 50;
  --bs-btn-disabled-opacity: 1
}

.quantity-counter {
  color: var(--bs-light-text);
  background-color: var(--bs-tertiary-bg);
}

.quantity-counter:focus {
  color: var(--main-color);
  background-color: var(--bs-form-control-bg);
  border-color: var(--bs-border-color);
  box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.summary__position {
  position: static;
}

@media (max-width: 992px) {
  .summary__position {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
}
