.stars__wrapper {
  border: 1px inset transparent;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.stars__wrapper:hover {
  border: 1px inset rgba(var(--main-color-rgb), .4);
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: .875rem;
}
.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #bbb;
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: var(--discount-color);
}