.reviews-count__wrapper {
  border: 1px inset transparent;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.reviews-count__wrapper:hover {
  border: 1px inset rgba(var(--main-color-rgb), .4);
}
