.main__header {
  background: linear-gradient(
    to bottom right,
    rgb(231 255 202),
    rgb(239 126 184)
  );
  background-size: 120% 120%;
  background-position: calc(120% - 20%) 20%;
  box-shadow: 0 12px 34px -11px rgb(38 20 19 / 10%);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  backdrop-filter: none;
  font-weight: 500;
  font-size: 1.3rem;
  z-index: 99;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.main__header.animated {
  background: linear-gradient(
    to bottom right,
    rgb(231 255 202 / 90%),
    rgb(239 126 184 / 90%)
  );
  background-size: 120% 120%;
  backdrop-filter: blur(3px);
  background-position: 0 0;
}


.header__nav__links a.nav-link,
.header__nav__links button.nav-link,
.header__nav__user-btns a.nav-link,
.header__nav__user-btns button.nav-link {
  padding: .5rem;
  margin: 0;
}

.header__nav__user-btns a.nav-link:hover {
  color: rgba(var(--main-color-rgb), .85);
}

.header__nav__user-btns a.nav-link.active {
  color: var(--main-color);
}

.header__nav__links a.nav-link:hover {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: -0.2rem;
  border-bottom: 0.2rem solid rgba(var(--main-color-rgb), .5);
}

.header__nav__links a.nav-link.active {
  margin-bottom: -0.2rem;
  border-bottom: 0.2rem solid var(--main-color);
  background-color: rgba(255, 255, 255, .4);
  border-radius: 0.5rem 0.5rem 0 0;
}

.header__badge {
  background-color: var(--btn-main-color);
  top: 7%;
  left: 93%;
}

.navbar__brand-text {
  font-family: 'Comfortaa', cursive;
  font-size: 1.4rem;
}

.header__user-avatar,
.header__new-product {
  border: 3px solid var(--main-color);
  box-shadow: 0 0px 6px .5px rgba(var(--main-color-rgb), .3);
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.header__new-product button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.navbar-toggler{
 border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-toggle, .dropdown-toggle:active {
  border: none;
}
