.modal__content .user-product__form { 
  min-width: 320px;
  max-width: 46rem;
}

.user-product__form label  { 
  padding-left: 1.5rem;
}

.user-product__form textarea.form-control {
  height: 7rem;
}

.user-product__form img {
  width: 164px;
  height: 164px;
  object-fit: contain;
}

.user-product__form .form-check {
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.user-product__form .form-check-input {
  border-color: var(--main-color);
}

.user-product__form .form-check-input:checked {
  border-color: transparent;
}
