body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgb(28, 34, 46);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overflow__hidden {
  overflow: hidden;
}

.brand-text {
  font-family: 'Comfortaa', cursive;
}

.strike-through {
  text-decoration: underline;
  text-underline-offset: -0.3em;
  text-decoration-skip-ink: none;
}


/* MAIN HEADER */
.main__header {
  background: linear-gradient(
    to bottom right,
    rgb(231 255 202),
    rgb(239 126 184)
  );
  box-shadow: 0 12px 34px -11px rgb(38 20 19 / 10%);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  font-weight: 500;
  font-size: 1.3rem;
  z-index: 99;
}

.header__nav {
  color: rgb(28, 34, 46)!important;
}

/* 
.navbar__badge {
  left: 90%;
  top: 10%;
  font-size: 0.65em;
} */

.navbar__brand-text {
  font-family: 'Comfortaa', cursive;
  font-size: 1.4rem;
}

.header__user-avatar {
  border: 3px solid rgb(28, 34, 46);
  box-shadow: 0 0px 6px .5px rgba(28, 34, 46, .3);
  width: 3rem;
  height: 3rem;
}


.navbar-toggler{
 border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-toggle, .dropdown-toggle:active {
  border: none;
}

/* LOGIN PAGE */
.login__card {
  margin: 0;
  background: rgba(235, 248, 221, .4);
  background: linear-gradient(
    to bottom right,
    rgba(235, 248, 221, .4),
    rgba(255, 200, 229, .4)
  );
}

.login__alert {
  padding: 6px 12px;
  margin: 6px 0;
}


/* PDODUCTS PAGES */
.product__card button {
  padding: 0.75rem;
  line-height: normal;
}

.product__card-price {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 7.5rem;
}

.product__card-picture {
  height: 224px;
  width: 224px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-self: center;
}

.product__card-picture img {
  /* max-height: 224px; */
  width: 100%;
  height: 100%;
  /* max-width: fit-content; */
  object-fit: contain;
}


/* MAIN FOOTER */
.main__footer {
  margin: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    to bottom right,
    rgb(251 255 244),
    rgb(229 203 217)
  );
}

.main__footer hr {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  opacity: 1;
}
