:root {
  --main-color: rgb(28, 34, 46);
  --btn-main-color: #d92c3e;
  --btn-main-color-darker: hsl(354, 69%, 46%);
  --btn-main-color-darkest: hsl(354, 69%, 42%);
  --btn-sec-color: #2d3850;
  --discount-color: #f74f60;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-main {
  color: var(--main-color);
}

.btn, .nav-link {
  transition: all .3s cubic-bezier(.645, .045, .355, 1), border 1ms linear, margin 1ms linear;
}

.nav-link:not(.dropdown-item) {
  color: rgba(28, 34, 46, .7);
}

.nav-link:hover:not(.dropdown-item) {
  color: rgba(28, 34, 46, .85);
}

.nav-link:active:not(.dropdown-item) {
  color: var(--main-color);
}


.form-check-input:checked {
  background-color: var(--btn-main-color);
  border-color: var(--btn-main-color);
}

.form-check-input:focus {
  border-color: #f07d89;
  outline: 0;
  box-shadow: none;
}

.form-control:focus {
  color: var(--main-color);
  background-color: var(--bs-form-control-bg);
  border-color: hsla(221, 28%, 45%, .5);
  outline: 0;
  box-shadow: 0 0 0 0.25rem hsla(221, 28%, 75%, .5);
}


.overflow__hidden {
  overflow: hidden;
}

.brand-text {
  font-family: 'Comfortaa', cursive;
}

.strike-through {
  text-decoration: underline;
  text-underline-offset: -0.3em;
  text-decoration-skip-ink: none;
}

.discount {
  color: var(--discount-color);
}

/* PRODUCTS PAGES */
.product__card .overlayable_content:hover .product__card-overlay {
  visibility: visible;
  opacity: 1;
}

.product__card-overlay {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .6);
  color: hsl(220deg 24% 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.product__card a {
  text-decoration: none;
  color: var(--main-color);
}

.product__card button {
  padding: 0.75rem;
  line-height: normal;
}

.product__card button i {
  width: 1.25rem;
}

.product__card button i.cart__icon::before {
  position: relative;
  right: 0.078rem;
}

.product__card-badge {
  background-color: var(--discount-color);
  top: .875rem;
  left: 1rem;
  z-index: 1;
}

.product__card-price {
  line-height: 1.1;
}

.product__card-price_bg {
  background-image: linear-gradient(270deg, hsl(220deg 24% 40% / 30%), var(--bs-tertiary-bg));
}

.product__card-img {
  height: 224px;
  width: 224px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.product__card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* PRODUCT DETAIL */
.product__detail .product__card-img {
  height: 256px;
  width: 256px;
}

.vendor__logo {
  border: 2px solid var(--main-color);
  box-shadow: 0 0px 2px .5px rgba(28, 34, 46, .3);
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}


/* CHECKOUT */
.checkout__product_card-img {
  height: 96px;
  width: 96px;
}

.checkout__product_card-img img {
  height: initial;
  max-height: 100%;
  align-self: start;
}
